<section class="section">
  <div class="container homepage">    
    <p class="lead">Nice to meet you! I write software and make fun electronic stuff in NYC, and I can usually be found programming during the week and biking, hiking, or climbing on the weekends. Get in touch if you have a project you'd like to discuss in web programming, physical computing, or interactive art.</p><p></p><br />Check out my recent professional work at <a href="https://www.neuinteractive.com/" rel="noopener noreferrer" target="_blank">Neu Interactive</a>.</p>
    <div class="recent-posts">
      <p style="font-weight: normal;">Recent posts:</p>
      <ul>
        <% page.posts.each(function(post) { %>
          <li><a href="<%= post.slug %>"><%= post.title %></a> <span class="post-date"><%= moment(post.date).format('MMM Y') %></span></li>
        <% }); %>
      </ul>
      <img src="undraw_startup_life_2du2.svg" id="laptop-boy" />
    </div>
  </div>
</section>
